<% include ./partials/header %>

<div class="ui main text container segment">
<div class="ui huge header">Edit Blog</div>

<!--As we cant send a PUT request through html forms
we will send a normal POST request but in our action we will 
override by mentioning PUT in there-->
<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
    <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" value="<%=blog.title %>">
    </div>
    <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" value="<%=blog.image %>">    
    </div>
     <div class="field">
        <label>Blog Content</label>
        <!--textareas dont have value attribute so you have to place 
        the ejs tag in between textarea tag to get the content-->
        <textarea name="blog[body]" ><%=blog.body %></textarea>
     </div>

   <input class="ui inverted big Red button" type="Submit">
</form>
</div>

<% include ./partials/footer %>